@media (min-width: 1440px) {
    body {
        background-image: url('../images/bg-pattern-top.svg'), url('../images/bg-pattern-bottom.svg');
        background-repeat: no-repeat;
        background-position: -50% 500%, 150% -500%;
    }

    main {    
        margin-top: 25vh;
    }
}